p {
    text-align: center;
    color: red;
}
body {
    background: blue;
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    color: green;
}
.about {
    text-align: center;
    color: blue;
}